{{! ---
block: b-address
============================================

Requirements:
- (only hbs)

Options:
- addressClasses {String} - Modifier classes

Important Notes:

--- }}


<div class="b-address{{#if addressClasses}} {{addressClasses}}{{/if}}">

    {{#each items}}
        <div class="address__item">
            <div class="address__icon {{addressItemIcon}}"></div>
            <div class="address__copy">{{copy}}</div>
        </div>
    {{/each}}
</div>
