{{! ---
block: b-article-gallery
============================================

Requirements:
- (only hbs)

Options:
- articleGalleryClasses {String} - Modifier classes

Important Notes:

--- }}


<div class="b-article-gallery{{#if articleGalleryClasses}} {{articleGalleryClasses}}{{/if}}"
     data-js-module="article-gallery"
     data-js-options='{
     	{{#each articleGalleryJsOptions}}"{{optionsKey}}": {{#unless optionsObject}}"{{/unless}}{{{optionsValue}}}{{#unless optionsObject}}"{{/unless}}{{#if @last}}{{else}}, {{/if}}{{/each}}
     }'>
     {{#each data}}
     	<div class="article-gallery__item">
     		{{> c-figure}}
     	</div>
     {{/each}}
</div>
