<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{title}} | {{config.title}}</title>
<link rel="shortcut icon" href="{{assets}}/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="{{assets}}/img/favicon.ico" type="image/x-icon">