
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZbSIDb1EjKfn5LTcmwzpWMPYgInSLBZk"></script>
<script src="{{@root.assets}}js/vendor/libs.js"></script>
<script src="{{@root.assets}}js/main.js"></script>


