{{! ---
block: b-footer-navigation
============================================

Requirements:
- (only hbs)

Options:
- footerNavigationClasses {String} - Modifier classes

Important Notes:

--- }}


<div class="b-footer-navigation{{#if footerNavigationClasses}} {{footerNavigationClasses}}{{/if}}">
     <ul class="footer-navigation__list">
         <li class="footer-navigation__item"></li>
     </ul>
</div>
