<!DOCTYPE html>
    {{> b-version}}
<html lang="en" class="no-js">
<head>
    {{#block "metadata"}}
        {{> _metadata }}
    {{/block}}
    {{#block "styles"}}
        {{> _styles }}
    {{/block}}
</head>
<body class="{{bodyclass}}">
<div class="r-header">
    {{> b-navigation}}
</div>

{{#wrapWith "c-offcanvas"}}
    {{#wrapWith "c-offcanvas__sidebar"}}
        {{> c-menu menuContextClass="offcanvas"}}
    {{/wrapWith}}
    {{#wrapWith "c-offcanvas__content"}}

        <div class="r-main {{mainclass}}">
            {{#block "main"}}

            {{/block}}
        </div>
        <div class="r-footer">
            {{#with footer}}
                {{> c-menu menu}}
                {{> b-footer-text text}}
            {{/with}}
            {{#block "footer"}}

            {{/block}}
        </div>
    {{/wrapWith}}
{{/wrapWith}}

<!-- Scripts
================================================== -->
{{#block "scripts"}}
    {{> _scripts }}
{{/block}}
</body>
</html>