{{! ---
component: c-form
============================================

Requirements:
- (only hbs)

Options:
- formContextClass {String} [default] - Just pass a string
- formClasses {String} - Modifier classes

Important Notes:

--- }}


<div class="c-form{{#if formContextClass}}--{{formContextClass}}{{else}}--default{{/if}}{{#if formClasses}} {{formClasses}}{{/if}}"
     data-css="c-form"
     data-js-module="form"
     {{#if formJsOptions}} data-js-options='{
     	{{#each formJsOptions}}"{{optionsKey}}": {{#unless optionsObject}}"{{/unless}}{{{optionsValue}}}{{#unless optionsObject}}"{{/unless}}{{#if @last}}{{else}}, {{/if}}{{/each}}
     }'{{/if}}>
    <form action="" class="form__form">
        {{{yield}}}
    </form>
</div>
