<li class="instagram-feed__item">
	<figure class="c-figure--instagram" data-css="c-figure">
		<a href="\{{link}}" target="_blank">					 			
			<div class="figure__image-wrapper">
				<img class="figure__image" src="\{{image}}">  
			</div>
		</a>
 	</figure>
</li>
