{{! ---
block: b-signup-form
============================================

Requirements:
- (only hbs)

Options:
- signupFormClasses {String} - Modifier classes

Important Notes:

--- }}


<div class="b-signup-form{{#if signupFormClasses}} {{signupFormClasses}}{{/if}}" data-js-module="signup-form" data-js-options='{
     	{{#each signupFormJsOptions}}"{{optionsKey}}": {{#unless optionsObject}}"{{/unless}}{{{optionsValue}}}{{#unless optionsObject}}"{{/unless}}{{#if @last}}{{else}}, {{/if}}{{/each}}
     }'>
    {{#wrapWith "c-form"}}
        {{#wrapWith "u-grid-row"}}

            {{#wrapWith "u-grid-col" size="small-12 medium-6"}}

                <label for="name">Name</label> <input type="text" id="name">
            {{/wrapWith}}
            {{#wrapWith "u-grid-col" size="small-12 medium-6"}}

                <label for="email">Email</label> <input type="text" id="email">

            {{/wrapWith}}

            {{#wrapWith "u-grid-col" size="small-12 medium-12"}}

                <label for="street">Adresse</label> <input type="text" id="street">

            {{/wrapWith}}

            {{#wrapWith "u-grid-col" size="small-6 medium-5"}}

                <label for="zip">Postleitzahl</label> <input type="text" id="zip">

            {{/wrapWith}}
            {{#wrapWith "u-grid-col" size="small-6 medium-7"}}

                <label for="city">Ort</label> <input type="text" id="city">

            {{/wrapWith}}

            {{#wrapWith "u-grid-col" size="small-12 medium-6"}}

                <label for="tel">Telefon</label> <input type="text" id="tel">

            {{/wrapWith}}
            {{#wrapWith "u-grid-col" size="small-12 medium-6"}}

                <label for="email">E-Mail-Adresse</label> <input type="text" id="email">

            {{/wrapWith}}

            {{#wrapWith "u-grid-col" size="small-12 medium-12"}}
                <hr class="signup-form__hr">
            {{/wrapWith}}

            {{#wrapWith "u-grid-col" size="small-12 medium-12"}}

                <label for="wine-sponsorship">Name des Weinpaten</label> <input type="text" id="wine-sponsorship">
                <div class="sinup-form__subheadline">Für wie viel Rebstöcke möchten Sie eine Patenschaft übernehmen?</div>
            {{/wrapWith}}

            {{#wrapWith "u-grid-col" size="small-12 medium-6"}}
                {{#times 3}}
                    {{#wrapWith "u-grid-row"}}
                        {{#wrapWith "u-grid-col" size="small-3"}}
                            <input type="number" id="dornfelder">
                        {{/wrapWith}}
                        {{#wrapWith "u-grid-col" size="small-9"}}
                            <label for="dornfelder" class="text-right middle">Dornfelder</label>
                        {{/wrapWith}}
                    {{/wrapWith}}
                {{/times}}
            {{/wrapWith}}
            {{#wrapWith "u-grid-col" size="small-12 medium-6"}}
                {{#times 2}}
                    {{#wrapWith "u-grid-row"}}
                        {{#wrapWith "u-grid-col" size="small-3"}}
                            <input type="number" id="dornfelder">
                        {{/wrapWith}}
                        {{#wrapWith "u-grid-col" size="small-9"}}
                            <label for="dornfelder" class="text-right middle">Dornfelder</label>
                        {{/wrapWith}}
                    {{/wrapWith}}
                {{/times}}
            {{/wrapWith}}

            {{#wrapWith "u-grid-col" size="small-12 medium-12"}}
                <div class="sinup-form__subheadline">Wie lange möchten Sie eine Patenschaft übernehmen?</div>
                <fieldset>
                    <input type="radio" id="1" name="years" value="1"><label for="1">1 Jahr</label>
                    <input type="radio" id="2" name="years" value="2"><label for="2">2 Jahre</label>
                    <input type="radio" id="3" name="years" value="3"><label for="3">3 Jahre</label>
                </fieldset>

            {{/wrapWith}}

            {{#wrapWith "u-grid-col" size="small-12 medium-12"}}
                <label for="text">Anmerkung</label>
                <textarea name="text" id="text" cols="30" rows="10"></textarea>
                <p class="signup-form__text">Dagegen tadelt und hasst man mit Recht Den, welcher sich durch die Lockungen einer gegenwärtigen Lust erweichen und verführen lässt, ohne in seiner blinden Begierde zu sehen, welche Schmerzen und Unannehmlichkeiten seiner deshalb warten.</p>
                <a class="sinup-form__link" href="#">> Zu den AGB</a>
            {{/wrapWith}}

            {{#wrapWith "u-grid-col" size="small-12 medium-12"}}
                {{#parseJSON '{
                    "ctaContent": "Patenschaft beantragen",
                    "ctaClasses": "is-celtic is-expand is-large",
                    "ctaButton": true
                }'}}
                    {{> c-cta}}
                {{/parseJSON}}
            {{/wrapWith}}
        {{/wrapWith}}
    {{/wrapWith}}
</div>
