{{! ---
block: b-instagram-feed
============================================

Requirements:
- (only hbs)

Options:
- instagramFeedClasses {String} - Modifier classes

Important Notes:

--- }}


<div class="c-instagram-feed{{#if instagramfeedContextClass}}--{{instagramfeedContextClass}}{{else}}--default{{/if}}{{#if instagramfeedClasses}} {{instagramfeedClasses}}{{/if}}"
     data-css="c-instagram-feed"
     data-js-module="instagram-feed"
     data-js-options='{
     	{{#each instagramFeedJsOptions}}"{{optionsKey}}": {{#unless optionsObject}}"{{/unless}}{{{optionsValue}}}{{#unless optionsObject}}"{{/unless}}{{#if @last}}{{else}}, {{/if}}{{/each}}
     }'>
     <ul class="instagram-feed__images" data-js-atom="instagram-images">
     	
     </ul>
     <div class="instagram-feed__text">
     	{{text}}
     </div>
</div>
