{{! ---
block: b-maps
============================================

Requirements:
- (only hbs)

Options:
- mapsClasses {String} - Modifier classes

Important Notes:

--- }}


<div class="b-maps{{#if mapsClasses}} {{mapsClasses}}{{/if}}"
     data-js-module="maps"
     data-js-options='{
     	{{#each mapsJsOptions}}"{{optionsKey}}": {{#unless optionsObject}}"{{/unless}}{{{optionsValue}}}{{#unless optionsObject}}"{{/unless}}{{#if @last}}{{else}}, {{/if}}{{/each}}
     }'>
     
</div>
