{{! ---
component: c-section
============================================

Requirements:
- (only hbs)

Options:
- options.sectionContextClass {String} [default] - Just pass a string
- options.sectionClasses {String} - Modifier classes

Important Notes:

--- }}


<div class="c-section{{#if sectionContextClass}}--{{sectionContextClass}}{{else}}--default{{/if}}{{#if options.sectionClasses}} {{options.sectionClasses}}{{/if}}"
     data-css="c-section"
    {{#if options.settings.sectionBackgroundImage}} style="background-image: url('{{assets}}{{options.settings.sectionBackgroundImage}}')"{{/if}}>
    <div class="section__content">
        {{{yield}}}
    </div>
</div>
