{{! ---
block: b-contact-form
============================================

Requirements:
- (only hbs)

Options:
- contactFormClasses {String} - Modifier classes

Important Notes:

--- }}


<div class="b-contact-form{{#if contactFormClasses}} {{contactFormClasses}}{{/if}}">
{{#wrapWith "c-form"}}
        {{#wrapWith "u-grid-row"}}
            {{#wrapWith "u-grid-col" size="small-12 medium-6"}}
                    <label for="name">Name</label> <input type="text" id="name">
            {{/wrapWith}}
            {{#wrapWith "u-grid-col" size="small-12 medium-6"}}
                    <label for="email">Email</label> <input type="text" id="email">
            {{/wrapWith}}
            {{#wrapWith "u-grid-col" size="small-12 medium-12"}}
                    <label for="email">Text</label> <textarea name="text" id="text" cols="30" rows="10"></textarea>
            {{/wrapWith}}
            {{#wrapWith "u-grid-col" size="small-12 medium-12"}}
                {{> c-cta cta}}
            {{/wrapWith}}
        {{/wrapWith}}
  {{/wrapWith}}
</div>
