---
title: News Article
menuLink: Article
sortOrder: 00
public: false
---

{{#extend "lyt-default"}}
	{{#content "stage"}}
	{{/content}}

	{{#content "main"}}
		{{#with news-article}}
            {{#wrapWith "u-grid-row"}}
                {{#wrapWith "u-grid-col" size="large-8"}}
                    {{> c-article}}
                    {{> b-article-gallery articleGallery}}
                {{/wrapWith}}
                {{#wrapWith "u-grid-col" size="large-3 large-offset-1"}}
                    {{#wrapWith "c-sidebar"}}
                        {{#with sidebar.kategorien}}
                            {{> c-sidebar__item}}
                        {{/with}}
                        {{#with sidebar.instagram }}
                            {{#wrapWith "c-sidebar__item" }}
                                {{> c-instagram-feed}}
                            {{/wrapWith}}
                        {{/with}}
                        {{#with sidebar.friends}}
                            {{> c-sidebar__item}}
                        {{/with}}
                    {{/wrapWith}}
                {{/wrapWith}}
            {{/wrapWith}}
		{{/with}}
	{{/content}}
{{/extend}}
