---
title: Impressum
menuLink: Impressum
sortOrder: 00
public: false
---

{{#extend "lyt-default"}}
	{{#content "stage"}}
	{{/content}}

	{{#content "main"}}
		{{#with news-article}}
            {{#wrapWith "u-grid-row"}}
                {{#wrapWith "u-grid-col" size="large-12"}}
                    {{> c-article}}
                {{/wrapWith}}
            {{/wrapWith}}
		{{/with}}
	{{/content}}
{{/extend}}
