---
title: Build Better Prototypes with Veams
menuLink: Home
sortOrder: 01
public: false
mainclass: is-hovered
---

{{#extend "lyt-default"}}
	{{#content "main"}}
        {{#with home}}
            {{#wrapWith "c-slider"}}
                {{#times 2}}
                    {{#wrapWith "c-slider__item"}}
                        {{> c-picture ../slide}}
                    {{/wrapWith}}
                {{/times}}
            {{/wrapWith}}
            {{#wrapWith "c-section"}}
                {{> c-text welcome}}
            {{/wrapWith}}
            {{#wrapWith "c-section" settings=teaser.settings}}
                {{#wrapWith "u-grid-row"}}
                    {{#wrapWith "u-grid-col" size="small-12 medium-4"}}
                        {{> c-text events.headline}}
                        {{#times 3}}
                            {{> c-text ../events.event}}
                        {{/times}}
                    {{/wrapWith}}
                    {{#wrapWith "u-grid-col" size="small-12 medium-4"}}
                        {{> c-text news.headline}}
                        {{#times 3}}
                            {{> c-text ../news.news_item}}
                        {{/times}}
                    {{/wrapWith}}
                    {{#wrapWith "u-grid-col" size="small-12 medium-4"}}
                        {{> c-text shop.headline}}
                        {{> c-figure shop.wine}}
                        {{> c-cta shop.cta}}
                    {{/wrapWith}}
                {{/wrapWith}}
            {{/wrapWith}}
            {{#wrapWith "c-section" sectionClasses="is-large-padding"}}
                {{#wrapWith "u-grid-row" rowClasses="align-middle"}}
                    {{#wrapWith "u-grid-col" size="small-12 medium-6"}}
                            {{> c-picture wine_sponsorship.picture}}
                    {{/wrapWith}}
                    {{#wrapWith "u-grid-col" size="small-12 medium-6"}}
                            {{> c-text wine_sponsorship.text}}
                    {{/wrapWith}}
                {{/wrapWith}}
            {{/wrapWith}}
            {{#wrapWith "c-section" sectionClasses="is-light-green"}}
                {{> c-text contact.text}}
                {{> b-address contact.address}}
            {{/wrapWith}}
            {{#wrapWith "c-section" sectionClasses="is-spring-rain"}}
                {{#wrapWith "u-grid-row" rowClasses="align-center"}}
                    {{#wrapWith "u-grid-col" size="medium-8"}}
                        {{> b-contact-form contact_form}}
                    {{/wrapWith}}
                {{/wrapWith}}
            {{/wrapWith}}

            {{> b-maps}}
        {{/with}}
	{{/content}}
{{/extend}}
