---
title: Neuigkeiten
menuLink: Neuigkeiten
sortOrder: 01
---

{{#extend "lyt-default"}}
    {{#content "main" classes="is-imageless"}}
        {{#with news}}
            {{#wrapWith "c-section"}}
                {{> c-text headline}}
            {{/wrapWith}}
            {{#wrapWith "u-grid-row"}}
                {{#wrapWith "u-grid-col" size="small-12"}}
                    {{> c-article article.large}}
                {{/wrapWith}}
                {{#wrapWith "u-grid-col" size="small-12 medium-8"}}
                    {{#times 5 }}
                        {{> c-article ../article.default}}
                    {{/times}}
                    {{> c-pagination pagination}}
                {{/wrapWith}}
                {{#wrapWith "u-grid-col" size="small-12 medium-3 medium-offset-1"}}
                    {{#wrapWith "c-sidebar"}}
                        {{#with sidebar.kategorien}}
                            {{> c-sidebar__item}}
                        {{/with}}
                        {{#with sidebar.instagram }}
                            {{#wrapWith "c-sidebar__item" }}
                                {{> c-instagram-feed}}
                            {{/wrapWith}}
                        {{/with}}
                        {{#with sidebar.friends}}
                            {{> c-sidebar__item}}
                        {{/with}}
                    {{/wrapWith}}
                {{/wrapWith}}
            {{/wrapWith}}
        {{/with}}
    {{/content}}
{{/extend}}
