---
title: Build Better Prototypes with Veams
menuLink: Components
sortOrder: 02
public: false
---

{{#extend "lyt-default"}}
	{{#content "main"}}
		<h3>Place your components here!</h3>


{{#with cta-bp.simple}}
	{{> c-cta}}
{{/with}}


{{#with cta-bp.simple}}
	{{> c-cta}}
{{/with}}


{{! wrapWith START: Slider }}
{{#with slider-bp.simple}}
	{{#wrapWith "c-slider" data=this.sliderOptions}}
		{{#wrapWith "c-slider__item"}}
			<img src="https://placeholdit.imgix.net/~text?txtsize=92&txt=980%C3%97600&w=980&h=600" alt="test">
		{{/wrapWith}}
		{{#wrapWith "c-slider__item"}}
			<img src="https://placeholdit.imgix.net/~text?txtsize=92&txt=980%C3%97600&w=980&h=600" alt="test">
		{{/wrapWith}}
		{{#wrapWith "c-slider__item"}}
			<img src="https://placeholdit.imgix.net/~text?txtsize=92&txt=980%C3%97600&w=980&h=600" alt="test">
		{{/wrapWith}}
	{{/wrapWith}}
{{/with}}
{{! wrapWith END: Slider}}


{{! wrapWith START: Slider }}
{{#with slider-bp.simple}}
	{{#wrapWith "c-slider" data=this.sliderOptions}}
		{{#wrapWith "c-slider__item"}}
			<img src="https://placeholdit.imgix.net/~text?txtsize=92&txt=980%C3%97600&w=980&h=600" alt="test">
		{{/wrapWith}}
		{{#wrapWith "c-slider__item"}}
			<img src="https://placeholdit.imgix.net/~text?txtsize=92&txt=980%C3%97600&w=980&h=600" alt="test">
		{{/wrapWith}}
		{{#wrapWith "c-slider__item"}}
			<img src="https://placeholdit.imgix.net/~text?txtsize=92&txt=980%C3%97600&w=980&h=600" alt="test">
		{{/wrapWith}}
	{{/wrapWith}}
{{/with}}
{{! wrapWith END: Slider}}


{{#with section-bp}}
	{{#wrapWith "c-section"}}
		Wrapped with markup from section.
	{{/wrapWith}}
{{/with}}


{{#with text-bp}}
	{{> c-text}}
{{/with}}


{{#with figure-bp.simple}}
	{{> c-figure}}
{{/with}}

{{#with figure-bp.caption}}
	{{> c-figure}}
{{/with}}

{{#with picture-bp}}
	{{> c-picture}}
{{/with}}


{{#with form-bp}}
	{{#wrapWith "c-form"}}
		Wrapped with markup from form.
	{{/wrapWith}}
{{/with}}

		{{! @INSERTPOINT :: @ref: component-partial }}
	{{/content}}
{{/extend}}
