---
title: Build Better Prototypes with Veams
menuLink: Weinberg
sortOrder: 02
mainclass: is-hovered
---

{{#extend "lyt-default"}}
	{{#content "main"}}
        {{#with weinberg}}
            {{> c-picture picture}}
            {{#wrapWith "c-section"}}
                {{> c-text text}}
            {{/wrapWith}}
        {{/with}}
	{{/content}}
{{/extend}}
