---
title: Build Better Prototypes with Veams
menuLink: Weinpatenschaft
sortOrder: 03
mainclass: is-hovered
---

{{#extend "lyt-default"}}
    {{#content "main"}}
        {{#with weinpatenschaft}}
            {{> c-picture picture}}
            {{#wrapWith "c-section"}}
                {{> c-text text}}
            {{/wrapWith}}
            {{#wrapWith "c-section" sectionClasses="is-spring-rain is-large-padding"}}
                {{#wrapWith "u-grid-row" rowClasses="align-center"}}
                    {{#wrapWith "u-grid-col" size="medium-7"}}
                        {{#with signup}}
                            {{> c-text}}
                            {{> b-signup-form}}
                        {{/with}}
                    {{/wrapWith}}
                {{/wrapWith}}
            {{/wrapWith}}
        {{/with}}
    {{/content}}
{{/extend}}
