/* ===================================================
Block: address
=================================================== */

.b-address {
	max-width: 600px;
	text-align: center;
	margin: 60px auto 0 auto;

	.address__item {
		border: 2px solid $colors-spring-rain;
		border-radius: 20px;
		line-height: 1;
		margin: 11px;
		display: inline-block;
		padding: 11px 16px 12px 16px;
	}

	.address__icon {

	}

	.address__copy {
		color:#182a22;
		letter-spacing:1.89px;
	}

	a {
		text-decoration: none;
		color:#182a22;
	}
}