/* ===================================================
Block: footer-text
=================================================== */

.b-footer-text {
	margin-top: 40px;
	text-align: center;

	.footer-text__link {
		color:#ffffff;
		letter-spacing:1.89px;
		text-decoration: none;
		margin-bottom: 20px;
		display: inline-block;
		line-height: 20px;

		&::before {
			transform: translateY(5px);
			display: inline-block;
			content: '';
			@extend %icon-data-svg-instagram;
			width: 20px;
			height: 20px;
			margin-right: 12px;
		}
	}

	.footer-text__text {
		font-size:12px;
		color:rgba(255,255,255,0.47);
		letter-spacing:1.42px;
	}
}