/* ===================================================
Block: navigation
=================================================== */

.b-navigation {
	width: 100%;
	background: $colors-celtic;
	height: 65px;

	@include breakpoint(large up) {
		height: auto;
		background: rgba(#111e10, .8);
		position: absolute;
		transform: translate3d(-50%, 60px, 0);
		z-index: 10;
		left: 50%;
		top: 0;

		max-width: ($global-width - rem-calc(map_get($grid-column-gutter, medium)));
		transition: width .5s ease, max-width .5s ease;
	}

	&.is-fixed {
		@include breakpoint(large up) {
			position: fixed;
			transform: translate3d(-50%, 0, 0);
			max-width: 100%;
			width: 100%;
		}

		.navigation__logo {
			width: 39px;
			height: 30px;

			@include breakpoint(large up) {
				width: 138px;
				height: 40px;
			}
		}
	}


	.navigation__inner {
		height: 100%;
		max-width: ($global-width - rem-calc(map_get($grid-column-gutter, medium)));
		padding: 0 30px;
		display: flex;
		align-items: center;

		@include breakpoint(large up) {
			justify-content: space-between;
			margin: 0 auto;
		}
	}

	.navigation__menu {
		flex: 1;
		margin: 0 60px;
	}

	.navigation__menu,
	.navigation__cta {
		display: none;

		@include breakpoint(large up) {
			display: block;
		}
	}

	.navigation__logo {
		background-image: url('../img/svg/logo_icon.svg');
		background-size: cover;
		width: 39px;
		height: 30px;
		transition: .25s ease;
		position: relative;
		margin-left: calc(50% - 45px);

		@include breakpoint(large up) {
			background-image: url('../img/svg/logo_name.svg');
			width: 195px;
			height: 56px;
			margin-left: 0;
		}

		a {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.navigation__icon {
		@include burger(25px, 3px, 5px, #fff);

		@include breakpoint(large) {
			display: none;
		}
	}

	.navigation__icon-wrapper {
		&.is-active > .navigation__icon {
			@include burger-to-cross;
		}

		@include breakpoint(large) {
			display: none;
		}
	}

	.navigation__anchor {
		font-size: 17px;
		color: #ffffff;
		letter-spacing: 1.2px;
		text-decoration: none;
	}
}