/* ===================================================
Block: signup-form
=================================================== */

.b-signup-form {
	.sinup-form__subheadline {
		margin-top: 50px;
		margin-bottom: 40px;
		font-weight: bold;
		font-size: 18px;
	}

	.signup-form__hr {
		margin: 35px 0;
		border: 1px solid #fff;
	}

	.sinup-form__link {
		display: inline-block;
		margin-top: 2rem;
		margin-bottom: 3rem;
		color: scale_color($colors-celtic, $lightness: 20%);
		text-decoration: none;
		padding-bottom: 5px;
		border-bottom: 1px solid scale_color($colors-celtic, $lightness: 20%);
	}
}