%icon-png-clock { background-image: url('../img/png_icons/clock.png'); background-repeat: no-repeat; }

%icon-png-facebook { background-image: url('../img/png_icons/facebook.png'); background-repeat: no-repeat; }

%icon-png-folder { background-image: url('../img/png_icons/folder.png'); background-repeat: no-repeat; }

%icon-png-instagram { background-image: url('../img/png_icons/instagram.png'); background-repeat: no-repeat; }

%icon-png-logo_icon { background-image: url('../img/png_icons/logo_icon.png'); background-repeat: no-repeat; }

%icon-png-snapchat { background-image: url('../img/png_icons/snapchat.png'); background-repeat: no-repeat; }

%icon-png-twitter { background-image: url('../img/png_icons/twitter.png'); background-repeat: no-repeat; }

%icon-png-whatsapp { background-image: url('../img/png_icons/whatsapp.png'); background-repeat: no-repeat; }

%icon-png-youtube { background-image: url('../img/png_icons/youtube.png'); background-repeat: no-repeat; }

