/* ===================================================
ARTICLE COMPONENT
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-article"] {

	@include clearfix();
	/*
	Header
	----------------------- */
	.article__header {

		@include breakpoint(medium) {
			text-align: left;			
		}
	}


	.article__header-headline {
		font-family: $header-font-family;
		font-size: rem-calc(42);
		letter-spacing:0.95px;
		margin-top: 0;
		margin-bottom: 27px;
	}

	.article__header-meta {
		font-size: rem-calc(12);
		line-height: rem-calc(12);
		vertical-align: bottom;
		display: flex;
		color: #777;
	}

	.article__header-metaitem {
		margin-right: 30px;
		
		&::before {
			content: '';
			margin-right: 6px;
			display: inline-block;
			vertical-align: middle;
			width: 15px;
			height: 15px;
			background-size: contain;
		}

		&.is-clock {
			&::before {
				@extend %icon-data-svg-clock;
			}
		}

		&.is-folder {
			&::before {
				@extend %icon-data-svg-folder;
			}
		}
	}


	.article__header-subline {
	}

	.article__header-intro {
	}

	.article__social-media {
		margin-bottom: 27px;

		@include breakpoint(medium) {
			float: right;
			margin-bottom: 0;		
		}
	}

	/*
	Figure
	----------------------- */
	.article__figure {
		margin-bottom: 30px;
	}

	/*
	Content
	----------------------- */
	.article__content {

	}

	/*
	Footer
	----------------------- */
	.article__footer {
	}

	.article__footer-link {
	}
}

/* ---------------------------------------------------
Context: Default Example
--------------------------------------------------- */
.c-article--default {

	.article__header {
		text-align: center;
	}
}

/* ---------------------------------------------------
Context: News
--------------------------------------------------- */
.c-article--news {

	.article__header {
		margin-bottom: 40px;
		text-align: center;
	}

	.article__header-headline {
		font-size: 27px;
		margin-bottom: 11px;
		text-align: center;

		&::after {
			content: '';
			display: block;
			margin: 20px auto 15px auto;
			width: 300px;
			height: 1px;
			background-color: $colors-spring-rain;
		}
	}

	.article__header-meta {
		justify-content: center;
	}
}

/* ---------------------------------------------------
Context: Teaser
--------------------------------------------------- */
.c-article--teaser {
	margin-bottom: 50px;

	&.is-large {
		margin-bottom: 90px;

		.article__figure {
			max-width: 580px;
		}
	}
	
	.article__figure {
		max-width: 280px;
		margin: 0 auto;

		@include breakpoint(medium) {
			float: left;
			margin-right: map-get($grid-column-gutter, medium);
		}
	}

	.article__header {
		margin-bottom: 28px;
	}

	.article__header-headline {
		font-size: 16px;
		margin-bottom: 11px;
		font-family: $body-font-family;
		font-weight: bold;
	}

	.article__content {
		margin-bottom: 15px;
	}
}

/* ---------------------------------------------------
Context: About
--------------------------------------------------- */
.c-article--about {
	margin-bottom: 70px;
}
