/* ===================================================
CTA COMPONENT
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-cta"] {
	text-decoration: none;

	.cta__icon {}
	.cta__content {}

	&.is-center {
		display: table;
		margin-left: auto;
		margin-right: auto;
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-cta--default {
	padding: 5px 35px 9px 35px;
	background-color: #f3cb5d;
	border-radius: 100px;
	line-height: 1;
	display: inline-block;
	color: $colors-celtic;
	transition: background-color $transition-time-xl;

	&.is-small {
		font-size: 12px;
		padding: rem-calc(3 10 5 10);
	}

	&.is-dark-green {
		background-color: $body-font-color;
		color: #fff;
	}

	&.is-large {
		padding: rem-calc(8 50 12 50);
	}

	&.is-celtic {
		background-color: $colors-celtic;
		color: #fff;
	}

	&.is-expand {
		display: block;
		width: 100%;
	}

	&:hover {
		background-color: scale_color(#f3cb5d, $lightness: -15%);
	}
}
