/* ===================================================
Component: form
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-form"] {

	@include foundation-forms();

	label {
		margin-bottom: 12px;
		//letter-spacing: rem-calc(1.89px);
	}

	fieldset {
		margin-bottom: 1rem;
	}

	input[type="checkbox"] {
		margin-bottom: 0;
	}

	.wpcf7-list-item {
		margin-left: 0;
	}

	a {
		color: scale_color($colors-celtic, $lightness: 20%);
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-form--default {
}