/* ===================================================
FIGURE COMPONENT
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-figure"] {
	margin: 0;

	.figure__wrapper {
	}

	.figure__caption {
	}

	.figure__caption-inner {
	}

	.figure__caption-headline {
	}

	.figure__caption-content {
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-figure--default {
}

/* ---------------------------------------------------
Context: shop
--------------------------------------------------- */
.c-figure--shop {

	margin-bottom: 60px;
	padding-top: 20px;
	text-align: center;

	.figure__wrapper {
		margin-bottom: 26px;
	}

	.figure__caption-content {
		color: #fff;
		text-align: center;
	}
}