/* ===================================================
Component: instagram-feed
=================================================== */

[data-css="c-instagram-feed"] {

	.instagram-feed__images {
		display: flex;
		flex-wrap: wrap;
	}

	.instagram-feed__item {
		width: 125px;
		height: 125px;
		margin: 10px;
	}

	.instagram-feed__text {
		text-align: center;
		font-size: rem-calc(14);
	}
}

/* ==================
Context: Default
===================*/

.c-instagram-feed--default {

	.instagram-feed__images {
		justify-content: center;
		margin-bottom: 36px;
	}
}

/* ==================
Context: Sidebar
===================*/

.c-instagram-feed--sidebar {

	.instagram-feed__images {
		margin: 0 -10px;
	}
}