/* ===================================================
Component: menu
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-menu"] {
	width: 100%;

	.menu__list {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}

	.menu__item {
		position: relative;
		flex: 1;
		text-align: center;
	}

	.menu__link {
		text-decoration: none;
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-menu--default {

	&.is-fixed {
		.menu__link {
			padding: 20px 0;
		}
	}

	.menu__list {
		letter-spacing: 1.2px;
	}

	.menu__link {
		font-family: $body-font-family;
		color: #fff;
		display: block;
		padding: 35px 0;
		transition: padding $transition-time-m, background-color $transition-time-l;

		&.is-active {
			color: $white;
		}

		&.is-active,
		&:hover {
			background-color: $colors-cactus;
		}
	}
}


/* ---------------------------------------------------
Context: Footer
--------------------------------------------------- */
.c-menu--footer {
	text-align: center;


	.menu__item {
		display: inline-block;
		padding: 0 10px;
	}
	.menu__list {
		letter-spacing: 4px;
		display: inline-block;
	}

	.menu__link {
		color: $white;

		&:hover {
			color: $colors-spring-rain;
		}

		&.is-active {
			background-color: $white;
			color: $black;
		}
	}
}


/* ---------------------------------------------------
Context: Offcanvas
--------------------------------------------------- */
.c-menu--offcanvas {


	.menu__list {
		padding: 10px;
		margin: 12px 12px 0 12px;
		flex-direction: column;

		> li > a {
			padding: 10px 0;
		}
	}

	.menu__link {
		color: $white;
		font-size: rem-calc(30px);
		letter-spacing: 2px;
	}
}

