/* ===================================================
Component: offcanvas
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-offcanvas"] {
	position: relative;
	overflow-x: hidden;

	&.is-open {
		.offcanvas__content {
			transform: translateX(100%);
		}

		.offcanvas__sidebar {
			transform: translateX(0%);
			opacity: 1;
		}
	}

	.offcanvas__sidebar {
		opacity: 0.5;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(17,29,15,0.80);
		height: 100%;
		width: 100%;
		transform: translateX(-20%);
		transition: $transition-time-l ease-out;

	}

	.offcanvas__content {
		position: relative;
		z-index: 1;
		background-color: $body-background;
		transition: $transition-time-l ease-out;
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-offcanvas--default {
}