/* ===================================================
PICTURE COMPONENT
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-picture"] {

	&.is-fullwidth {
		img {
			width: 100%;
		}
	}

	img {
		max-width: 100%;
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-picture--default {
}
