/* ===================================================
RTE COMPONENT
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */

[data-css="c-rte"] {

	/*
	Headlines
	----------------------------- */
	h1 {
		font-size: rem-calc(62px);
		margin-bottom: 20px;
		line-height: 1.2em;
	}

	h2 {
		font-size: rem-calc(42px);
		margin-bottom: 20px;
		line-height: 1.2em;
	}

	h3 {
		font-size: rem-calc(32px);
		margin-bottom: 20px;
		line-height: 1.2em;
	}

	h4 {
		font-size: rem-calc(22px);
		margin-bottom: 20px;
		line-height: 1.2em;
	}

	h5 {
		font-size: rem-calc(18px);
		margin-bottom: 20px;
		line-height: 1.2em;
	}

	/*
	Paragraph
	----------------------------- */
	p {
		font-size: rem-calc(14);
		line-height: rem-calc(22);
		text-align: justify;
		margin-bottom: 1.5em;
		letter-spacing: 1px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	strong, b {
		font-weight: 700;
	}

	em,
	i {
		font-style: italic;
	}

	a {
		text-decoration: underline;
		color: #517E6A;
	}

	/*
	Lists
	----------------------------- */
	ul,
	ol {
	}

	ul {
	}

	ol {
	}

	/*
	Tables
	----------------------------- */
	table {
		th {
		}
		td {
		}
	}

	/*
	Others
	----------------------------- */
	hr {
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-rte--default {
}