/* ===================================================
Component: section
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-section"] {
	padding: 50px 0;
	background-size: cover;
	background-position: center center;

	.section__content {
		@include grid-col-row();
	}

	&.is-large-padding {
		padding: 100px 0;
	}

	&.is-light-green {
		background-color: rgba(174,204,171,0.29);
	}

	&.is-spring-rain {
		background-color: $colors-spring-rain;
		color: #182A22;
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-section--default {

}