/* ===================================================
Component: sidebar
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-sidebar"] {

	.sidebar__item {
		margin-bottom: 30px;
	}

	.sidebar__headline {
		font-size: 22px;
		letter-spacing: 1px;
	}

	.sidebar__link, .cat-item a  {
		display: block;
		color: #000;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
			color: #517E6A;
		}
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-sidebar--default {
}