/* ===================================================
Component: text
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-text"] {
	&.is-center {
		text-align: center;

		.text__headline {
			margin-left: auto;
			margin-right: auto;
		}
	}

	a:not([class]) {
		text-decoration: underline;
		color: #517E6A;
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-text--default {
	max-width: 1000px;
	margin: 0 auto;

	&.is-celtic {
		.text__headline::after {
			background-color: $colors-celtic;
		}
	}

	.text__headline {
		font-size:27px;
		color:#182a22;
		letter-spacing:3.2px;
		line-height:44px;
		text-align:center;
		//max-width: 450px;

		&::after {
			content: '';
			display: block;
			margin: 20px auto 50px auto;
			width: 300px;
			height: 1px;
			background-color: $colors-spring-rain;
		}
	}

	.text__copy {
		font-size:16px;
		color:#182a22;
		letter-spacing:1.6px;
		text-align:center;

		p {
			margin-bottom: 1rem;

			&:last-child {
				margin-bottom: 0;
			}
		}

		hr {
			display: block;
			height: 1px;
			border: 0;
			border-top: 1px solid $colors-spring-rain;
			margin: 2em 0;
			padding: 0;
		}
	}

	.text__cta-wrapper {
		margin-top: 50px;
	}
}

/* ---------------------------------------------------
Context: Exerpt
--------------------------------------------------- */
.c-text--exerpt {

	.text__headline {
		font-size: 16px;
		//line-height: 1em;
		font-family: $body-font-family;
		color: #fff;
		font-weight: bold;
	}

	.text__copy {
		font-size: 16px;
		color: #fff;
		margin-bottom: 20px;
	}

	.text__cta-wrapper {
		margin-bottom: 20px;
	}
}

/* ---------------------------------------------------
Context: Headline
--------------------------------------------------- */
.c-text--headline {
	.text__headline {
		font-size: 17px;
		margin-bottom: 30px;
		color: #fff;
		letter-spacing: rem-calc(2px);
	}
}