{{! ---
component: picture
============================================

Requirements:
- (only hbs)

Options:
- pictureContextClass {String} [default] - Just pass a string
- pictureClasses {String} - Modifier classes
- pictureUrlStd {String} - Standard image url
- pictureAlt {String} - Alt text of the image

Important Notes:
The breakpoints in this component reflects the breakpoints of your project. Be sure you define enough breakpoints to support all devices.

--- }}

<picture class="c-picture{{#if pictureContextClass}}--{{pictureContextClass}}{{else}}--default{{/if}}{{#if pictureClasses}} {{pictureClasses}}{{/if}}" data-css="c-picture">

	<!--[if IE 9]><audio><![endif]-->
	{{#if picture320}}
		<source srcset="{{@root.assets}}{{picture320}} 1x, {{@root.assets}}{{picture320_2x}} 2x" media="(max-width: 320px)"/>
	{{/if}}

	{{#if picture480}}
		<source srcset="{{@root.assets}}{{picture480}} 1x, {{@root.assets}}{{picture480_2x}} 2x" media="(max-width: 480px)"/>
	{{/if}}

	{{#if picture640}}
		<source srcset="{{@root.assets}}{{picture640}} 1x, {{@root.assets}}{{picture640_2x}} 2x" media="(max-width: 640px)"/>
	{{/if}}

	{{#if picture768}}
		<source srcset="{{@root.assets}}{{picture768}} 1x, {{@root.assets}}{{picture768_2x}} 2x" media="(max-width: 768px)"/>
	{{/if}}

	{{#if picture1024}}
		<source srcset="{{@root.assets}}{{picture1024}} 1x, {{@root.assets}}{{picture1024_2x}} 2x" media="(max-width: 1024px)"/>
	{{/if}}

	{{#if picture1025}}
		<source srcset="{{@root.assets}}{{picture1025}} 1x, {{@root.assets}}{{picture1025_2x}} 2x" media="(min-width: 1024px)"/>
	{{/if}}

	<!--[if IE 9]></audio><![endif]-->

	<img src="{{@root.assets}}{{pictureUrlStd}}" alt="{{pictureAlt}}"/>
</picture>