{{! ---
component: c-sidebar
============================================

Requirements:
- (only hbs)

Options:
- sidebarContextClass {String} [default] - Just pass a string
- sidebarClasses {String} - Modifier classes

Important Notes:

--- }}


<aside class="c-sidebar{{#if sidebarContextClass}}--{{sidebarContextClass}}{{else}}--default{{/if}}{{#if sidebarClasses}} {{sidebarClasses}}{{/if}}"
     data-css="c-sidebar">
	{{{yield}}}
</aside>
