.r-header {
}


.r-main {
	background-color: #fff;

	@include breakpoint(medium up) {
		padding-top: 200px;
		padding-bottom: 50px;
	}

	&.is-hovered {
		padding: 0;
	}

	&.isnt-margin-bottom {
		padding-bottom: 0;
	}
}
.r-footer {
	background-color: rgba(24,42,33,0.60);
	padding: 47px 0 72px 0;
}