{{! ---
component: c-menu
============================================

Requirements:
- (only hbs)

Options:
- menuContextClass {String} [default] - Just pass a string
- menuClasses {String} - Modifier classes

Important Notes:

--- }}
<div class="c-menu{{#if menuContextClass}}--{{menuContextClass}}{{else}}--default{{/if}}{{#if menuClasses}} {{menuClasses}}{{/if}}" data-css="c-menu" data-js-module="menu">
    <ul class="menu__list">
        {{#if data}}
            {{#each data}}
                <li class="menu__item">
                    <a href="{{assets}}{{target}}{{#isnt @root.servermode}}.html{{/isnt}}" class="menu__link" data-js-atom="link">{{label}}</a>
                </li>
            {{/each}}
        {{else}}
            {{#objToArr pages }}
                {{#sortArr this "parsed.data.sortOrder"}}
                    {{#each this}}
                        {{#isnt this.parsed.data.public false}}
                            <li class="menu__item  {{#is @root.currentPage.id this.id}}is-active{{/is}}">
                                <a href="{{#if @root.servermode}}{{serverFile}}{{else}}{{@root.assets}}{{destFile}}{{/if}}" class="menu__link {{#is @root.currentPage.id this.id}}is-active{{/is}}" data-js-atom="link">{{this.parsed.data.menuLink}}</a>
                            </li>
                        {{/isnt}}
                    {{/each}}
                {{/sortArr}}
            {{/objToArr}}
        {{/if}}
    </ul>
</div>
