{{! ---
utility: u-grid
============================================

Requirements:
- (only hbs)

Options:
- gridClasses {String} - Modifier classes

Important Notes:

--- }}


<div class="columns{{#if options.size}} {{options.size}}{{/if}}">
     {{{yield}}}
</div>
