{{! ---
component: c-text
============================================

Requirements:
- (only hbs)

Options:
- textContextClass {String} [default] - Just pass a string
- textClasses {String} - Modifier classes

Important Notes:

--- }}


<div class="c-text{{#if textContextClass}}--{{textContextClass}}{{else}}--default{{/if}}{{#if textClasses}} {{textClasses}}{{/if}}"
     data-css="c-text">
     <h2 class="text__headline">{{{textHeadline}}}</h2>
    <p class="text__copy">{{textCopy}}</p>

    {{#if textCta}}
        <div class="text__cta-wrapper">
            {{> c-cta textCta}}
        </div>
    {{/if}}
</div>
