{{! ---
block: b-navigation
============================================

Requirements:
- (only hbs)

Options:
- navigationClasses {String} - Modifier classes

Important Notes:

--- }}

<div class="b-navigation{{#if navigationClasses}} {{navigationClasses}}{{/if}}" data-js-module="navigation" data-js-options='{
     	{{#each navigationJsOptions}}"{{optionsKey}}": {{#unless optionsObject}}"{{/unless}}{{{optionsValue}}}{{#unless optionsObject}}"{{/unless}}{{#if @last}}{{else}}, {{/if}}{{/each}}
     }'>
    <div class="navigation__inner">
        <div class="navigation__icon-wrapper" data-js-atom="hamburger-icon">
            <div class="navigation__icon"></div>
        </div>
        <div class="navigation__logo"><a href="{{@root.assets}}index{{#isnt @root.servermode}}.html{{/isnt}}"></a></div>
        <div class="navigation__menu">
            {{> c-menu type=main}}
        </div>
        <div class="navigation__cta">
            {{> c-cta config.shopCta}}
        </div>
    </div>
</div>
