{{! ---
block: b-footer-text
============================================

Requirements:
- (only hbs)

Options:
- footerTextClasses {String} - Modifier classes

Important Notes:

--- }}


<div class="b-footer-text{{#if footerTextClasses}} {{footerTextClasses}}{{/if}}">
    <a href="{{link.target}}" class="footer-text__link">{{link.label}}</a>
    <div class="footer-text__text">{{text}}</div>
</div>
