{{! ---
component: c-offcanvas
============================================

Requirements:
- (only hbs)

Options:
- offcanvasContextClass {String} [default] - Just pass a string
- offcanvasClasses {String} - Modifier classes

Important Notes:

--- }}


<div class="c-offcanvas{{#if offcanvasContextClass}}--{{offcanvasContextClass}}{{else}}--default{{/if}}{{#if offcanvasClasses}} {{offcanvasClasses}}{{/if}}"
     data-css="c-offcanvas"
     data-js-module="offcanvas"
     {{#if offcanvasJsOptions}} data-js-options='{
     	{{#each offcanvasJsOptions}}"{{optionsKey}}": {{#unless optionsObject}}"{{/unless}}{{{optionsValue}}}{{#unless optionsObject}}"{{/unless}}{{#if @last}}{{else}}, {{/if}}{{/each}}
     }'{{/if}}>
	{{{yield}}}
</div>
